html,
body {
  box-sizing: border-box;

  margin: 1%;
  padding: 0px;
  width: 98%;
  height: auto;
  background-color: rgb(246, 249, 250);
}
table {
  width: 100%;
  border: none;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

  border-collapse: collapse;
}
th {
  padding: 14.2px 12px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: left;
  color: rgb(63, 187, 238);
}

td {
  padding: 14.2px 12px;
  border-top: 1px solid #dee2e6;
  font-weight: lighter;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: rgb(63, 187, 238);
}

tr:hover td {
  background-color: rgba(112, 110, 108, 0.158);
  color: rgb(6, 154, 240);
}
tr:hover button {
  background-color: transparent;
}

h3 {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-left: 10px;
  color: rgb(63, 187, 238);
}
#trash {
  color: rgb(226, 27, 27);
  font-size: 16px;
  margin-right: 5px;
  font-weight: lighter;

  cursor: pointer;
}
#edit {
  color: rgb(45, 78, 226);
  font-size: 16px;
  font-weight: lighter;
  margin-right: 1px;
  cursor: pointer;
}
#move {
  color: rgb(228, 123, 62);
  font-size: 15px;

  margin-right: 5px;

  cursor: pointer;
}
button {
  border: none;
  background-color: rgb(246, 249, 250);
  margin: 2px;
}
#btn {
  padding: 6px 10px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: rgba(46, 54, 49, 0.575);
  background-color: yellowgreen;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}
#project_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
