html,
body {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#row1 {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 11%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.274);
}

#logo {
  box-sizing: border-box;
  width: 14.1%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border-right: 0.5px solid rgba(128, 128, 128, 0.274);
}
#image {
  width: 80%;
  height: 80%;
}

#nav {
  height: 100%;
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.menu {
  position: relative;
  margin-left: 20px;
  height: 100%;
  font-size: 20px;
  color: #787f91;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Menu {
  position: relative;
  z-index: 2;
}
#nav-user {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#nav-setting {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-setting-icon {
  width: 20%;

  height: 100%;
  font-size: 16px;
  color: #787f91;
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-icon {
  width: 13%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.5px solid rgba(128, 128, 128, 0.274);
}
#image2 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#row2 {
  width: 100%;
  height: 89%;

  display: flex;
}
#slidbar {
  width: 14%;
  height: 100%;
  border-right: 0.5px solid rgba(128, 128, 128, 0.274);
  transition: 0.2s;
  overflow-y: scroll;
  overflow-x: hidden;
}
.active {
  border-left: 3px solid rgb(90, 191, 238);
}

.nav-list {
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  z-index: 1;
}
@keyframes button_animation {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  3% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
.nav-list:hover .nav-icon,
.nav-list:hover .nav-name,
.menu:hover,
.nav-setting-icon:hover {
  color: rgb(90, 191, 238);
}

.nav-list:hover {
  background-color: rgba(194, 180, 180, 0.26);
}

.nav-icon {
  width: 32%;
  height: 100%;
  font-size: 16px;
  font-weight: lighter;
  color: #787f91;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.6;
}
.nav-name {
  color: #090a0c70;
  width: 50%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.6;
}

.nav-name p {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: aqua;
}

#container {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

#ifm {
  width: 100%;
  height: 100%;
}

#bell {
  animation: ring 4s 0.7s ease-in-out infinite;
  transform-origin: 50% 4px;
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
#alert {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: crimson;
}
#user-details {
  position: absolute;
  top: 11%;
  right: 0%;
  z-index: -1;
  width: 15%;
  height: 50%;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border-radius: 4px;
}
#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  transform: rotateY(0deg);
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

#card .back {
  background: rgba(233, 224, 224, 0.788);
  transform: rotateY(180deg);
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  box-shadow: -4px 4px 30px rgba(56, 53, 53, 0.418);
  border-radius: 4px;
}
